:root{
    --primary: #1C4DA0;
    --secondary: #A1EDFF;
    --textcolor: #393939;
    --background_white:#fff ;
    --background_offchite: #F3F3F3;
    --sidePadding: 12%;
}

/*nav bar*/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 1170px;
    margin: auto;
}

.logo img{
    padding-top: .7em;
    width: 10em ;
}

header{
    background: var(--background_white);
    height: 10vh;
}

/*the main page*/
body{
    background: url(/images/boxes1.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: 'Segoe UI';
}

.main{
    width: 500px;
    margin: 15px auto 0px auto;
}


h1{
   text-align: center;
   padding-top: 1.3em;
   color: var(--textcolor);
   
}

h5{
    text-align: center;
    color: gray;
}

.sign-up h3{
    color: var(--textcolor);
    padding-bottom: .5em;
    padding-right: 12em;
}
.sign-up{
   padding-top: 1.5em;
   text-align: center;
}

.social-medias{
    padding-top: 2;
    display: flex;
    margin: 0 0 0 auto;
    display: inline-table;
    
} 

.social-media{
    display: inline;
    padding-left: 20px;
}

.social-media img{
    width: 1.5em;
    background-color: var(--background_white);
    padding-left:1.5em;
    padding-right:1.5em;
    padding-top:.7em;
    padding-bottom: .7em;
    border-radius: .1em;
}

.hr-text{
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: var(--textcolor);
    text-align: center;
    opacity: 0.5;
}

h4{
    margin-top: 1em;
    text-align: center;
    position: relative;
}

form{
    padding-top: .3em;
}

.register{
    width: 100%;
}

.form-sel{
    padding-left: 8em ;
}

input{
    width: 20em;
    height: 2.5em;
    border: 1px solid #ddd;
    box-shadow: 5px;
    color: var(--textcolor);
    position: relative;
    z-index: 9;
}

p{
    padding-left: 1.5em;
    padding-bottom: 1.5em;
}

span{
    color: var(--primary);
}

